.card-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content-container {
  padding: 5px 15px;
}

.content-container h4 {
  font-size: 1rem;
}

.content-container p {
  font-size: 0.9rem;
}
