@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');

/* Main CSS */

p {
  font-family: 'Open Sans', 'Sans-Serif';
  color: #707070;
  font-size: 102%;
}

/* Arrow CSS */

.backArrow {
  color: #888;
  font-size: 3rem;
}

.backArrow :hover {
  color: #000;
  cursor: pointer;
}

/* Slide CSS */

.inactive {
  display: none;
  animation: active 5s;
}

.active {
  display: block;
  animation: active 5s;
}

.index {
  display: block;
}

@keyframes active {
  from {opacity: 0;}
  to {opacity: 1;}
}

.mainSlide {
  font-size: 3em;
  letter-spacing: 3px;
  font-family: 'Anton', sans-serif;
}

.slide {
  display: none;
  max-width: 900px;
  text-align: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 100px 0px 0px 0px;
}

.slider-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.slider-img {
  width: 60%;
}

.slider-text {
  width: 100%;
}

.slider-text p {
  width: 75%;
  margin: auto;
}

.slider-text section {
  height: 450px;
  padding: 20px 0;
}

@media screen and (max-width: 900px) {
  .slider-text {
    width: 400px;
  }

  .backArrow {
    font-size: 2.5rem;
  }  
}

@media screen and (max-width: 500px) {
  .slider-text {
    width: 200px;
  }

  .backArrow {
    font-size: 2rem;
  }  
}

@media screen and (max-width: 300px) {
  .slider-text {
    width: 100px;
  }

  .backArrow {
    font-size: 1.5rem;
  }  
}
