#projects {
  margin-top: 40px;
}

.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
  background: rgba(0, 0, 0, 0.2);
}

.scrollContainerStyle { 
  max-height: "450px";
}