form.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container label {
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 700;
}

.container input {
  width: 40%;
  margin: auto;
  padding: 10px;
  font-size: 1rem;
}

.container textarea {
  width: 40%;
  max-width: 40%;
  min-width: 40%;
  min-height: 150px;
  height: 150px;
  margin: auto;
  padding: 10px;
  font-family: inherit;
  font-size: 0.9rem;
}

.container input[type='checkbox'] {
  height: 20px;
  width: 5%;
}

input[type="checkbox"]:checked + label::before {
  background-color: #4CAF50;
}

.container input[type='submit'] {
  display: inline-block;
  padding: 10px 0px;
  margin-top: 20px;
  width: 25%;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.container input[type='submit']:hover {
  background-color: #3e8e41
}

.container input[type='submit']:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
