.project-image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin: 8px 0;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5);
}

.projects-page-container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-page-container h1 {
  align-content: center;
}